/* start of variable declaration */
:root {
  --main-color: #10cab7;
  --secondary-color: #2c4755;
  --section-padding: 60px;
  --section-background: #f6f6f6;
  --main-duration: 0.5s;
}
/* End of variable declaration */
/* start of global rules */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: 'Work Sans', sans-serif;
}
.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

/* small screens */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
/* medium screens */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
/* large screens */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
/* End of global rules */
/* Start Components */
.special-heading {
  color: #ebeced;
  font-size: 6rem;
  margin: 0;
  margin-top: 50px;
  padding: 0;
  line-height: 0.6;
  letter-spacing: -3px;
  text-align: center;
}
.special-heading + p {
  margin: 0;
  font-size: 19px;
  text-align: center;
  margin-bottom: 100px;
  color: #797979;
}
@media (max-width: 767px) {
  .special-heading {
    font-size: 60px;
  }
  .special-heading + p {
    margin-top: -20px;
  }
}
/* End Components */

/* Start of header */
.header {
  padding: 20px;
}
.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header .container .image {
  width: 60px;
}
.header .container .links {
  position: relative;
}
.header .container .links:hover .icon span:nth-child(2) {
  width: 100%;
}
.header .container .links .icon {
  width: 30px;
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
}
.header .container .links .icon span {
  background-color: #333;
  margin-bottom: 5px;
  height: 2px;
}
.icon span:first-child {
  width: 100%;
}
.header .links .icon span:nth-child(2) {
  width: 60%;
  transition: var(--main-duration);
}
.icon span:last-child {
  width: 100%;
}
.header .container .links ul {
  list-style: none;
  padding: 0;
  margin: 0;
  background-color: #f6f6f6;
  position: absolute;
  right: 0;
  min-width: 200px;
  top: calc(100% + 15px);
  display: none;
  z-index: 1;
}
.header .container .links ul::before {
  content: '';
  position: absolute;
  border-color: transparent transparent #f6f6f6 transparent;
  border-style: solid;
  border-width: 10px;
  right: 5px;
  top: -20px;
}
.header .container .links:hover ul {
  display: block;
}
.header .container .links ul li a {
  display: block;
  padding: 15px;
  text-decoration: none;
  color: #333;
  transition: var(--main-duration);
}

.header .container .links ul li a:hover {
  padding-left: 25px;
}

.header .container .links ul li:not(:last-child) a {
  border-bottom: 1px solid #ddd;
}
/* End of header */
/* Start Services  */
.landing {
  background-image: url('/images/mountain.jpg');
  background-size: cover;
  height: calc(100vh - 64px);
  position: relative;
}
.landing .intro-text {
  position: absolute;
  top: 35%;
  left: 50%;
  text-align: center;
  transform: translate(-50%, -50%);
  width: 320px;
  max-width: 100%;
}
.landing .intro-text h1 {
  margin: 0;
  font-weight: bold;
  font-size: 50px;
  color: var(--main-color);
}
.landing .intro-text p {
  font-size: 19px;
  line-height: 1.8;
  color: black;
  font-weight: normal;
}
/* End Services  */
/* Start features */
.features {
  background-color: var(--section-background);
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
}
.features .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 20px;
  font-size: 16px;
  text-align: center;
}
.features .feat h3 {
  font-weight: 800;
  margin: 30px 0;
}
.features .container .feat p {
  line-height: 1.8;
  color: #777;
  font-size: 17px;
}
.features .container .feat i {
  color: var(--main-color);
}
/* End features */
/* Start Services */
.Services {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
}

.Services .container .services-content {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-template-rows: repeat(2, 1fr);
  grid-template-areas: 'graphic webDesign image' 'uiux development image';
  grid-gap: 20px;
  font-size: 16px;
}
.Services .container .services-content .Service-num {
  display: flex;
  margin-bottom: 40px;
}
@media (max-width: 767px) {
  .Services .container .services-content .Service-num {
    flex-direction: column;
    text-align: center;
  }
}
/* @media (max-width: 991px) {
  .Services .container .services-content .Service-num {
    grid-template-columns: 50% 50%;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
      'graphic webDesign'
      'ui-ux development';
    text-align: center;
    background-color: red;
  }
} */
/* .Services .container .services-content .one {
  grid-area: graphic;
}
.Services .container .services-content .two {
  grid-area: webDesign;
}
.Services .container .services-content .three {
  grid-area: ui-ux;
}
.Services .container .services-content.four {
  grid-area: development;
} */
.Services .container .services-content h4 {
  margin: 0 0 20px;
}
.Services .container .services-content i {
  color: var(--main-color);
  flex-basis: 60px;
  padding-right: 20px;
}
.Services .container .services-content p {
  color: #999a9b;
  line-height: 1.5;
  flex: 1;
}
.Services .container .services-content .image {
  grid-area: image;
  text-align: center;
  position: relative;
}
.Services .container .services-content .image::before {
  content: '';
  background-color: var(--secondary-color);
  width: 100px;
  height: calc(100% + 50px);
  top: -50px;
  position: absolute;
  right: 0;
  z-index: -1;
}
.Services .container .services-content .image img {
  width: 260px;
}
@media (max-width: 1199px) {
  .image {
    display: none;
  }
}
/* End Services */
/* Start Portfolio */
.portfolio {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
  background-color: var(--section-background);
}
.portfolio .portfolio-content {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 30px;
  margin-top: 80px;
  
}
.portfolio .portfolio-content .card {
  background-color: white;
}
.portfolio .portfolio-content .card img {
  max-width: 100%;
}
.portfolio .portfolio-content .card .info {
  padding: 20px;
}
.portfolio .portfolio-content .card .info h3 {
  margin: 0;
}
.portfolio .portfolio-content .card .info p {
  color: #777;
  line-height: 1.6;
  margin-bottom: 0;
}
/* End Portfolio */
/* Start About */
.about{
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
}
.about .about-content{
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  margin-top: 80px;
}

.about .about-content .text{
  line-height: 2;
  margin-bottom: 50px;
  margin-left: 120px;
}
.about .about-content p:first-of-type  {
  font-weight: 550;
  padding-bottom:50px;
}
.about .about-content p:last-child  {
  /* padding-top:10px; */
  font-weight: 100;
}
.about .about-content .text hr{
  border-color: var(--main-color);
  width: 50%;
  display: inline-block;
}
.about .about-content .image{
  position: relative;
}
.about .about-content .image img{
  max-width: 70%;
}
.about .about-content .image::before{
  content: "";
  position: absolute;
  width: 30%;
  height: calc(100% + 50px);
  background-color: #EBECED;
  z-index: -1;
  top: -12%;
  left: -20px;
}
.about .about-content .image::after{
  content: "";
  position: absolute;
  height: 72%;
  width: 25%;
  z-index: -1;
  border-left: 80px solid var(--main-color);
  border-bottom: 75px solid var(--main-color);
  top: -45px;
  right: -20px;
}
/* End About */
/* Start Contact*/
.contact{
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
  background-color: var(--section-background);
}
.contact .contact-content {
  text-align: center;
  padding-bottom: var(--section-padding);
}
.contact .contact-content p{
  font-size: 2rem;
  color:#2C4755;
  margin: 0;
  font-weight: 800;
  padding-bottom: 15px;
}
.contact .contact-content a{
  font-size: 2rem;
  color:var(--main-color);
  font-weight: 600;
  text-decoration: none;
}
.contact .contact-content .soicail-link i{
  padding-left: 5px;
  padding-top: 20px;
}
/* color: var(--secondary-color); */
/* End Contact*/
/* Start Footer */
.footer {
  background-color: var(--secondary-color);
}
.footer .footer-content{
  padding-top: 15px;
  padding-bottom: 15px;
  color:white;
  text-align: center;
  font-size: 1.1rem;
}
.footer .footer-content span{
  color: var(--main-color);
  font-weight: bold;
}
/* End Footer */